h2 Kubernetes Nodes
== slim :_table, locals: { table: @report[:nodes] }
hr
h2 Unhealthy Pods
== slim :_table, locals: { table: @report[:unhealthy_pods] }
hr
h2 Pod Restarts
== slim :_table, locals: { table: @report[:restarts] }
hr
h2 URIs
== slim :_table, locals: { table: @report[:health_checks] }
