h2 Kubernetes Nodes
== slim :_table, locals: { table: @result[:nodes] }
h2 Unhealthy Pods
== slim :_table, locals: { table: @result[:unhealthy_pods] }
h2 Pod Restarts
== slim :_table, locals: { table: @result[:pod_restarts] }
h2 URIs
== slim :_table, locals: { table: @result[:uris] }
