$font-stack: "Lucida Grande", Verdana, sans-serif;
$primary-color: #444444;

body {
  //font-family: $font-stack;
  //font-size: 14px;
  //line-height: 1.25em;
  //color: #444444;
  background-color: #FAFAFA;
  max-width: 990px;
  padding: 0 20px;
  margin: 0 auto;
}

#wrapper {
  clear: both;
  display: block;
  float: left;
  margin: 25px auto;
  width: 100%;
}

#header {
  overflow: hidden;
  text-align: center;

  h1 {
    margin: 20px 0 10px 0;
  }

  .caption {
    //font-family: Georgia;
    font-style: oblique;
  }
}
#content {
  margin: 0px 25px 25px 25px;
}

ul {
  margin: 0px;
  list-style-type: none;
}

li {
  margin: 0px;
}

#content table {
  width: 100%;
}

#label-menu {
  margin-bottom: 1.5em;
}

#image-dropdown {
  margin-right: 1.5em;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  background-color: darkseagreen;
}

td {
  background-color: aliceblue;
}

th, td {
  padding: 0px 5px;
}

.meter {
  height: 20px;  /* Can be anything */
  width: 50px;
  position: relative;
  background: #555;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

  .bar {
    height: 100%;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );

    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
      position: relative;
      overflow: hidden;

    &.orange {
      background-color: #f0a164;
      background-image: linear-gradient(to bottom, #f0a164, #f35d1a);
    }

    &.red {
      background-color: #f0a3a3;
      background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
    }
  }
}

#footer {
  margin-bottom: 20px;
}

a {
  color: #3f3f3f;
  text-decoration: none;
  display: inline-block;
  margin: 0px 5px;
}

button#email {
  float: right;
}

.flex-list {
  position: relative;
  margin: 1em;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
  }

  li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;
  }
}
