$font-stack: "Lucida Grande", Verdana, sans-serif;
$primary-color: #444444;
$header-size: 70px;

body {
  //font-family: $font-stack;
  //font-size: 14px;
  //line-height: 1.25em;
  //color: #444444;
  background-color: #FAFAFA;
  //padding: 70px 20px 0;
  padding-top: 70px;
  position: relative;
}

.sticky-top {
  top: 70px;
}

#header {
  overflow: hidden;
  text-align: center;

  h1 {
    margin: 20px 0 10px 0;
  }

  .caption {
    //font-family: Georgia;
    font-style: oblique;
  }
}

#label-menu {
  margin-bottom: 1.5em;
}

#image-dropdown {
  margin-right: 1.5em;
}

#footer {
  margin: 20px 0;
}

/* To set offset anchors for our top navbar */
section {
  position: relative;
}

.offset-anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -70px;
  left: 0;
  visibility: hidden;
}

.has-nested-row {
  td {
    padding-bottom: 0 !important;
  }
}

.nested-row {
  td {
    border-top-width: 0 !important;
    padding-top: 10px !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
  }
}

button#email {
  float: right;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;

  &-green {
    background-color: green;
  }

  &-yellow {
    background-color: yellow;
  }

  &-red {
    background-color: red;
  }
}
