$font-stack: "Lucida Grande", Verdana, sans-serif;
$primary-color: #444444;

body {
  //font-family: $font-stack;
  //font-size: 14px;
  //line-height: 1.25em;
  //color: #444444;
  background-color: #FAFAFA;
  padding: 70px 20px 0;
  margin: 0 auto;
}

#header {
  overflow: hidden;
  text-align: center;

  h1 {
    margin: 20px 0 10px 0;
  }

  .caption {
    //font-family: Georgia;
    font-style: oblique;
  }
}

#label-menu {
  margin-bottom: 1.5em;
}

#image-dropdown {
  margin-right: 1.5em;
}

#footer {
  margin: 20px 0;
}

button#email {
  float: right;
}
