---
http_interactions:
- request:
    method: get
    uri: https://container-registry.prod8.bip.va.gov/v2/NotARealImage/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"NAME_INVALID","message":"invalid repository name","detail":[{"Name":"NotARealImage"},{"Reason":"invalid
        path component: NotARealImage"}]}]}'
  recorded_at: Mon, 23 Mar 2020 12:26:54 GMT
recorded_with: VCR 5.1.0
