---
http_interactions:
- request:
    method: get
    uri: https://container-registry.prod8.bip.va.gov/v2/_catalog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: ASCII-8BIT
      string: '{"repositories":["bip-bpds","bip-bpds-dynamodb-verify","bip-bss-iam-webagent","bip-bss-idpproxy","bip-bss-keycloak","bip-docgen-content","bip-docgen-db-config","bip-docgen-git2consul","bip-docgen-svc","bip-docgen-ui","bip-exam-destination","bip-ibs-icp-data-service","bip-ibs-icp-service","bip-ibs-ins-data-service","bip-ibs-ins-service","bip-ngl","bip-pacman/bip-pacman-service-legacy","bip-vasrd","bip-vbmsc/vbmsc","bip-vetservices-claims","bip/git2consul","bip/jenkins","bms","ccps/ccps","fluxcd/flux","fluxcd/helm-operator","mbms-prod/mbms-apache-reverse-proxy","mbms-prod/mbms-help","mbms-prod/mbms-service","mbms-prod/mbms-ui","mbms-prodtest/mbms-apache-reverse-proxy","mbms-prodtest/mbms-help","mbms-prodtest/mbms-service","mbms-prodtest/mbms-ui"]}'
  recorded_at: Mon, 23 Mar 2020 12:31:45 GMT
[...]
- request:
    method: get
    uri: https://container-registry.prod8.bip.va.gov/v2/bip-bpds/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: ASCII-8BIT
      string: '{"name":"bip-bpds","tags":["perf-1.0.0-17-10","perf-1.1.0-21-12","preprod-1.1.0-21-12","prod-1.0.0-17-10","prod-1.1.0-21-12","prodtest-1.0.0-17-10","prodtest-1.1.0-21-12"]}'
  recorded_at: Mon, 23 Mar 2020 12:32:41 GMT
- request:
    method: get
    uri: https://container-registry.prod8.bip.va.gov/v2/bip-bpds/manifests/perf-1.0.0-17-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.docker.distribution.manifest.v1+json
      Last-Modified:
      - Fri, 13 Dec 2019 15:36:04 GMT
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: UTF-8
      string: |-
        {
          "schemaVersion" : 1,
          "name" : "bip-bpds",
          "tag" : "perf-1.0.0-17-10",
          "architecture" : "amd64",
          "fsLayers" : [ {
            "blobSum" : "sha256:a3ed95caeb02ffe68cdd9fd84406680ae93d633cb16422d00e8a7c22955b46d4"
          }, {
            "blobSum" : "sha256:a3ed95caeb02ffe68cdd9fd84406680ae93d633cb16422d00e8a7c22955b46d4"
          }, {
            "blobSum" : "sha256:a3ed95caeb02ffe68cdd9fd84406680ae93d633cb16422d00e8a7c22955b46d4"
          }, {
            "blobSum" : "sha256:a3ed95caeb02ffe68cdd9fd84406680ae93d633cb16422d00e8a7c22955b46d4"
          }, {
            "blobSum" : "sha256:a3ed95caeb02ffe68cdd9fd84406680ae93d633[...]
